In [2]:
import numpy as np
import pandas as pd

In [3]:
# Load csv data
data = pd.read_csv('clusters.csv')
data.head()

          A         B         C
0 -0.087492  0.398000  0.014275
1 -1.071705 -0.546473  0.072424
2  2.747075  2.012649  3.083964
3  3.217913  2.213772  4.260312
4 -0.607273  0.793914 -0.516091